<a href="https://colab.research.google.com/github/JaimesCarlos/AirFlow_Kafka_Spark_Docker/blob/master/vuelos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Conectarnos a drive ✅

In [1]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [2]:
import pandas as pd

In [4]:
wather = pd.read_csv('/content/drive/MyDrive/Henrry Vuelos/WeatherNormalizado.csv')
airlines = pd.read_csv('/content/drive/MyDrive/Henrry Vuelos/airlines.csv')
airports = pd.read_csv('/content/drive/MyDrive/Henrry Vuelos/airports.csv')

In [3]:
columns = ['YEAR', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'OP_UNIQUE_CARRIER', 'ORIGIN_CITY_NAME',
'ORIGIN_STATE_ABR', 'DEST_CITY_NAME', 'DEST_STATE_ABR', 'CRS_DEP_TIME', 'DEP_DELAY_NEW',
'CRS_ARR_TIME', 'ARR_DELAY_NEW', 'CANCELLED', 'CANCELLATION_CODE', 'AIR_TIME', 'DISTANCE']
vuelos_2015 = pd.read_csv('/content/drive/MyDrive/Henrry Vuelos/flights_2015.csv',names=columns)

In [10]:
vuelos_2015['MONTH'].count()

5819079

In [4]:
#vuelos_2015 = pd.read_csv('/content/drive/MyDrive/Henrry Vuelos/flights_2015.csv')
vuelos_2016 = pd.read_csv('/content/drive/MyDrive/Henrry Vuelos/flights_2016.csv')
#vuelos_2017 = pd.read_csv('/content/drive/MyDrive/Henrry Vuelos/flights_2017.csv')
#vuelos_2018 = pd.read_csv('/content/drive/MyDrive/Henrry Vuelos/flights_2018.csv')
#vuelos_2019 = pd.read_csv('/content/drive/MyDrive/Henrry Vuelos/flights_2019.csv')
#vuelos_2020 = pd.read_csv('/content/drive/MyDrive/Henrry Vuelos/flights_2020.csv')

In [17]:
vuelos_2016

,2016,1,5,2,AA,Miami,FL,Washington,VA,14:15:00,21,16:45:00,15,0,NULL,126,919
0,2016,1,6,3,AA,Miami,FL,Washington,VA,14:15:00,0.0,16:45:00,0.0,0,NaN,128.0,919
1,2016,1,7,4,AA,Miami,FL,Washington,VA,14:15:00,26.0,16:45:00,24.0,0,NaN,123.0,919
2,2016,1,8,5,AA,Miami,FL,Washington,VA,14:15:00,31.0,16:45:00,52.0,0,NaN,116.0,919
3,2016,1,9,6,AA,Miami,FL,Washington,VA,14:15:00,0.0,16:45:00,7.0,0,NaN,121.0,919
4,2016,1,10,7,AA,Miami,FL,Washington,VA,14:15:00,36.0,16:45:00,36.0,0,NaN,112.0,919
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617652,2016,12,31,6,WN,Reno,NV,Oakland,CA,12:00:00,36.0,13:05:00,19.0,0,NaN,33.0,181
5617653,2016,12,31,6,WN,Reno,NV,Oakland,CA,07:05:00,0.0,08:20:00,0.0,0,NaN,38.0,181
5617654,2016,12,31,6,WN,Reno,NV,Phoenix,AZ,10:00:00,0.0,12:40:00,0.0,0,NaN,88.0,601
5617655,2016,12,31,6,WN,Reno,NV,San Diego,CA,09:10:00,0.0,10:45:00,0.0,0,NaN,71.0,488
5617656,2016,12,31,6,WN,Reno,NV,San Diego,CA,14:15:00,4.0,15:40:00,2.0,0,NaN,71.0,488

In [5]:
df = pd.concat([vuelos_2015,vuelos_2016])

In [9]:
df['MONTH'].count()

5819079